.git
.gitignore
.venv
venv
env_venv
__pycache__
**/__pycache__
*.py[cod]
.pytest_cache
.DS_Store

frontend/node_modules
frontend/dist

checkpoints
data/raw
data/processed
wandb
runs
*.db

*.pdf
*.ipynb
notebooks/

gcp/service-account-key.json
.env
